
.chakra-petch-light {
  font-family: "Chakra Petch", serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", serif;
  font-weight: 400;
  font-style: normal;
}

.title {
  font-family: "Chakra Petch", serif;
  font-weight: 700;
  font-style: normal;
}
